<template>
    <div >
    
        <Carta/>
        
    </div>
</template>



<script>
// @ is an alias to /src
import Carta from '@/components/Cartas.vue'

export default {
    name: 'Cartas',
    components: {
        Carta
    },   
}
</script>
