<template>
  <div class="home">
    <Tabla msg="Añadir un producto"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Tabla from '@/components/Tablas.vue'

export default {
  name: 'Tablas',
  components: {
    Tabla
  }
}
</script>
