<template>
    <div id="bajara" class="mt-5">
        
                <b-card-group columns>
                    <b-card align="center" class="mb-2" v-for="(item,index) in productos" :key="index">
                        <h3> {{item.nomb}}</h3>
                            <p>{{item.desc}} </p>
                                <div align="center">
                                    <b-button variant="dark" class="mr-5" @click="editar(index)">Editar</b-button>
                                    <b-button variant="dark" class="mx-3" @click="borrar(index)">Borrar</b-button>
                                </div> 
                    </b-card>
                </b-card-group>
    </div>   
</template>







<script>

export default {
    name: 'Carta',
    props: {
    },
    data(){
        return{
            productos:[]
        }

    },
    methods: {
    editar(index){
        //CONSIDERÉ QUE LA EDICION SOLO PERMITA MODIFICAR EL PRECIO, YA QUE NO TIENE  
        //SENTIDO APLICARLO A LAS OTRAS VARIABLES.

    let dato1 = JSON.parse(localStorage.getItem('base-vue'));

    var opcion1;
    opcion1 = prompt("Introduzca el nuevo precio","precio");
    if(opcion1 === null || opcion1 ==='' || isNaN(opcion1)){
        alert("Error, intente nuevamente");
    }else{
        dato1[index].pre = '$'+opcion1;

        localStorage['base-vue'] = JSON.stringify(dato1);

        let datosDB = JSON.parse(localStorage.getItem('base-vue'));
            if(datosDB === null){
                this.productos =[];
            }else{
                this.productos = datosDB;
            }

    }

    },
    borrar(index){
        //BORRADO EN LOCALSTORAGE
    let dato1 = JSON.parse(localStorage.getItem('base-vue'));

    dato1.splice(index,1);

    localStorage['base-vue'] = JSON.stringify(dato1);

    let datosDB = JSON.parse(localStorage.getItem('base-vue'));
        if(datosDB === null){
            this.productos =[];
            
        }else{
            this.productos = datosDB;
        }
    }
},
    created(){
        let datosDB = JSON.parse(localStorage.getItem('base-vue'));
        if(datosDB === null){
            this.productos =[];
            
        }else{
            this.productos = datosDB;
        }
    }
    
    
}
</script>