<template>
  <div class="hello mt-5">
    <h1 align="center">{{ msg }}</h1>
    
    <div class="mt-2">

      
      <br>
      <div>
        <form>
          <b-row>
            
            <b-col sm="3">
              <label for="nombre">Nombre: </label>
            </b-col>

            <b-col sm="9">
              
              <b-form-input id="nombre" type="text" v-model="nombre" :state="comprobar1"></b-form-input>
              <small>Campo Obligatorio</small>
              <p></p>
            </b-col>
            
            <b-col sm="3">
              <label for="descripcion">Descripcion: </label>
            </b-col>

            <b-col sm="9">
              <b-form-input id="descripcion" type="text" v-model="descripcion" :state="comprobar2"></b-form-input>
              <small>Campo Obligatorio</small>
              <p></p>
            </b-col>

            <b-col sm="3">
              <label for="precio">Precio: </label>
            </b-col>

            <b-col sm="9">
              <b-form-input id="precio" type="number" v-model="precio" :state="comprobar3"></b-form-input>
              <small>CLP </small>
              <p></p>
              
            </b-col>
          </b-row>
          
        </form>
        <div align="center "> <b-button type="submit" variant="primary" @click="agregar"> Añadir </b-button> </div>
        
        
      </div>

      <br>
      <div class="mt-3">

        <b-table striped hover :items="producto" :fields="fields"> </b-table>
      </div>
    </div>

    

  </div>



</template>



<script>

import Cartas from '@/components/Cartas.vue'

export default {
  name: 'Tabla',
  props: {
    msg: String,
  },
  data(){
    return{
      nombre: '',
      descripcion: '',
      precio: 0,
      producto : [],
      fields: [
              {key: 'nomb', label: 'Nombre'},
              {key: 'desc', label: 'Descripcion'},
              {key: 'pre', label:'Precio'}]
    }
  },
  methods:{
    agregar(){
      
      if(this.comprobar1===true && this.comprobar2===true && this.comprobar3==true){
        this.producto.push({
        nomb : this.nombre,
        desc : this.descripcion,
        pre :  '$'+this.precio

      });
      }
      this.nombre = ''
      this.descripcion = ''
      this.precio = 0 

      localStorage.setItem('base-vue', JSON.stringify(this.producto));

      //METODO DE LOCALSTORAGE PARA AGREGAR LOS DATOS A LA OTRA HOJA

      let datos = JSON.parse(localStorage.getItem('base-vue'));
      for(let info of datos){
        let miNodo = document.createElement('div');
        miNodo.classList.add('card','col-sm-4');

        let miNodoCardBody = document.createElement('div');
        miNodoCardBody.classList.add('card-body');
        
        let miNodoTitle = document.createElement('h5');
        miNodoTitle.classList.add('card-title');
        miNodoTitle.textContent = info['nombre'];

        miNodoCardBody.appendChild(miNodoTitle);
      }

    }
  },
  computed:{
    comprobar1(){
      return this.nombre === '' ? false : true 
    },
    comprobar2(){
      return this.descripcion === '' ? false : true
    },
    comprobar3(){
      return this.precio <= 0 ? false : true
    }
  },
  created(){
    let datosDB = JSON.parse(localStorage.getItem('base-vue'));
    if(datosDB === null){
      this.producto =[];

    }else{
      this.producto = datosDB;
    }
  }
}

</script>
