<template>
  <div id="app">
    
    <b-navbar toggleable="md" type="dark" variant="dark">
      <b-container>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-navbar-brand href="#">Desafio Vue Cli</b-navbar-brand>


        <b-collapse is-nav id="nav-collapse">

          <b-navbar-nav>
            <b-nav-item :to="{name: 'Tabla'}" exact>Tabla</b-nav-item>
            <b-nav-item :to="{name: 'Carta'}">Baraja</b-nav-item>
          </b-navbar-nav>
          
        </b-collapse>


      </b-container>
    </b-navbar>


    <b-container>
      <router-view/>
    </b-container>


  </div>
</template>


